html, body {
  height: 100%;
  padding: 0;
  margin: 0
}

#left-column, #right-column {
  overflow-y: auto;
}

#product-display , #calculation-span {
  width: 233px;
  overflow-x: auto;
}

#calculation-span {
  letter-spacing: 3px;
}

.display {
  background-color: white;
}

button {
  width: 50px;
}

.color-option {
  height: 25px;
}

.pointer {
  cursor: pointer;
}
