html, body {
  height: 100%;
  padding: 0;
  margin: 0
}

#product-display {
  width: 233px;
  overflow-x: auto;
}

#calculation-span {
  width: 233px;
  overflow-x: auto;
}

.display {
  background-color: white;
}

button {
  width: 50px;
}

.color-option {
  height: 25px;
}
